Sala/App.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="startup">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="supportedRuntime">
                <xs:complexType>
                  <xs:attribute name="version" type="xs:string" use="required" />
                  <xs:attribute name="sku" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="system.runtime.remoting">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="application">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="client">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="wellknown">
                            <xs:complexType>
                              <xs:attribute name="type" type="xs:string" use="required" />
                              <xs:attribute name="url" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="url" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="channels">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="channel">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="serverProviders">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="formatter">
                                        <xs:complexType>
                                          <xs:attribute name="ref" type="xs:string" use="required" />
                                          <xs:attribute name="typeFilterLevel" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ref" type="xs:string" use="required" />
                              <xs:attribute name="port" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>